version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: qa_space
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
    volumes:
      - minio-data:/data

  app:
    build: .
    command: sh -c "unset DATABASE_URL && export DATABASE_URL=postgresql://postgres:postgres@db:5432/qa_space?schema=public && npm run prisma:generate && npm run start:dev"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/qa_space?schema=public
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET:-change-me-access-secret}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET:-change-me-refresh-secret}
    depends_on:
      - db
      - minio

volumes:
  db-data:
  minio-data:
